.pagination {
  .page-item {
    &.active .page-link {
      background-color: var(--primary-color) !important;
      color: white !important;
      border: none !important;
    }

    .page-link {
      color: var(--primary-color) !important;
      padding: 0.5rem 0.75rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
