.custom_input_field {
  min-height: 38px;
  cursor: pointer;
}
.dropdown_style {
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown_close span {
  cursor: pointer;
  color: red;
}

.dropdown_item {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.dropdown_item:hover {
  background-color: var(--bs-tertiary-bg);
  cursor: pointer;
}