.menu_hover {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-weight: 700;
}

.menu_hover::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1.5px;
  width: 100%;
  transform: scaleX(0);
  border-radius: 6px;
  background-color: #ffffff;
  transition: transform 500ms;
}

.menu_hover:hover::after {
  transform: scaleX(1);
}
