/* OrganizationBanner css */
.profile-container {
  position: absolute;
  top: 140px;
  left: 80px;
  transform: translateX(-50%);
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid #3eb95f;
  background: transparent;
}

.edit_icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 50%;
  font-size: 14px;
  box-shadow: none;
  border: 2px solid #3eb95f;
}

.edit_icon button {
  background: white !important;
  border: none !important;
  box-shadow: none !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-bottom: 0px;
}
.edit_icon button:hover {
  background: rgb(223, 223, 223) !important;
  transition: all 0.5s ease-in-out;
}

.edit_icon button i {
  color: #333;
  font-size: 18px;
}

.organisation_card {
  box-shadow: 0 5px 15px rgba(48, 142, 136, 0.153);
  transition: all 0.3s ease;
}

.organisation_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(48, 142, 136, 0.573);
}
